<nz-header>
  <div class="app-header">
    <div nz-row>
      <div nz-col nzSpan="12">
        <h1 nz-typography>Properties</h1>
      </div>
      <div nz-col nzSpan="12"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <h3 nz-typography>Here is your summary</h3>
      </div>
      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col nzSpan="4"></div>
          <div nz-col nzSpan="20">
            <nz-input-group [nzPrefix]="prefixTemplateSearch">
              <input type="text" nz-input placeholder="Search" />
            </nz-input-group>
          </div>
        </div>
        <ng-template #prefixTemplateSearch><span nz-icon nzType="search"></span></ng-template>
      </div>
    </div>
  </div>
</nz-header>
<nz-tabset class="content" [nzSize]="'large'" nzCentered>
  <nz-tab nzTitle="Properties I Own">
    <!-- Possible for generic view but for times sake this will do. -->
    <div class="card-grid">
      <ng-template ngFor let-data [ngForOf]="ownedProperties" let-x="index">
            <nz-card class="card-item card-wrapper" style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionDescription, actionShare, actionFavorite]">
              <nz-card-meta
                [nzTitle]="titleTemplate"
                [nzDescription]="descriptionTemplate"
              ></nz-card-meta>
              <nz-tag *ngIf="data.propertyPrice > 0" class="featured-tag" nzColor="#FF3262">
                <span>Featured</span>
              </nz-tag>
              <button class="delete-button top-right-button" nz-button nzType="default" nzSize="small">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </nz-card>
        <ng-template #titleTemplate>
          <span class="title">{{ '# '+ data.titleReference }}</span>
        </ng-template>
        <ng-template #descriptionTemplate>
          <span class="description">{{ data.propertyAddress || 'N/A' }}</span>
        </ng-template>
        <ng-template #coverTemplate>
          <img alt="example" [src]="'../../../assets/img_' + (x+1) + '.png'" />
        </ng-template>
        <ng-template #actionDescription>
          <span>{{ data.propertyCriteria }}</span>
        </ng-template>
        <ng-template #actionShare>
          <span nz-icon nzType="form" nzTheme="outline"></span>
        </ng-template>
        <ng-template #actionFavorite>
          <span nz-icon nzType="heart" nzTheme="fill"></span>
        </ng-template>
      </ng-template>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Recommended Properties">
    <!-- Possible for generic view but for times sake this will do. -->
    <div class="card-grid">
      <ng-template ngFor let-data [ngForOf]="properties" let-x="index">
            <nz-card class="card-item card-wrapper" style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionDescription, actionShare, actionFavorite]">
              <nz-card-meta
                [nzTitle]="titleTemplate"
                [nzDescription]="descriptionTemplate"
              ></nz-card-meta>
              <nz-tag *ngIf="data.propertyPrice > 0" class="featured-tag" nzColor="#FF3262">
                <span>Featured</span>
              </nz-tag>
              <button class="delete-button top-right-button" nz-button nzType="default" nzSize="small">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </nz-card>
        <ng-template #titleTemplate>
          <span class="title">{{ '# '+ data.titleReference }}</span>
        </ng-template>
        <ng-template #descriptionTemplate>
          <span class="description">{{ data.propertyAddress || 'N/A' }}</span>
        </ng-template>
        <ng-template #coverTemplate>
          <img alt="example" [src]="'../../../assets/img_' + (x+1) + '.png'" />
        </ng-template>
        <ng-template #actionDescription>
          <span>{{ data.propertyCriteria }}</span>
        </ng-template>
        <ng-template #actionShare>
          <span nz-icon nzType="form" nzTheme="outline"></span>
        </ng-template>
        <ng-template #actionFavorite>
          <span nz-icon nzType="heart" nzTheme="fill"></span>
        </ng-template>
      </ng-template>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Rejected Properties">
    <!-- Possible for generic view but for times sake this will do. -->
    <div class="card-grid">
      <ng-template ngFor let-data [ngForOf]="rejectedProperties" let-x="index">
            <nz-card class="card-item card-wrapper" style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionDescription, actionShare, actionFavorite]">
              <nz-card-meta
                [nzTitle]="titleTemplate"
                [nzDescription]="descriptionTemplate"
              ></nz-card-meta>
              <nz-tag *ngIf="data.propertyPrice > 0" class="featured-tag" nzColor="#FF3262">
                <span>Featured</span>
              </nz-tag>
              <button class="delete-button top-right-button" nz-button nzType="default" nzSize="small">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </nz-card>
        <ng-template #titleTemplate>
          <span class="title">{{ '# '+ data.titleReference }}</span>
        </ng-template>
        <ng-template #descriptionTemplate>
          <span class="description">{{ data.propertyAddress || 'N/A' }}</span>
        </ng-template>
        <ng-template #coverTemplate>
          <img alt="example" [src]="'../../../assets/img_' + (x+1) + '.png'" />
        </ng-template>
        <ng-template #actionDescription>
          <span>{{ data.propertyCriteria }}</span>
        </ng-template>
        <ng-template #actionShare>
          <span nz-icon nzType="form" nzTheme="outline"></span>
        </ng-template>
        <ng-template #actionFavorite>
          <span nz-icon nzType="heart" nzTheme="fill"></span>
        </ng-template>
      </ng-template>
    </div>
  </nz-tab>
</nz-tabset>
