<!-- <mat-tab-group>
  <mat-tab label="Properties I Own">
    <div *ngFor="let prop of properties" class="property-card">
      <img src="/assets/sample-property.jpg" alt="Property" width="100%">
      <h4>{{ prop.propertyName }}</h4>
      <p>{{ prop.address }}</p>
    </div>
  </mat-tab>
  <mat-tab label="Recommended">
    <div *ngFor="let prop of properties" class="property-card">
      <img src="/assets/sample-property.jpg" alt="Property" width="100%">
      <h4>{{ prop.propertyName }}</h4>
      <p>{{ prop.address }}</p>
    </div>
  </mat-tab>
</mat-tab-group> -->